doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title DATEK
        // Font Awesome
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css')
        // Bootstrap core CSS
        link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
        // Material Design Bootstrap
        link(href='/stylesheets/mdb.min.css', rel='stylesheet')
        // Your custom styles (optional)
        link(href='/stylesheets/style.css', rel='stylesheet')
        link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css', integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==', crossorigin='')
        script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js', integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==', crossorigin='')
    body
        nav.navbar.navbar-light.lighten-4
            a.navbar-brand(href='home', style='color: white') DATEK
            button.navbar-toggler.toggler-example(type='button', data-toggle='collapse', data-target='#navbarSupportedContent1', aria-controls='navbarSupportedContent1', aria-expanded='false', aria-label='Toggle navigation', style='color: white')
                span.dark-blue-text
                    i.fas.fa-bars.fa-1x
            #navbarSupportedContent1.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/', style='color: white')
                            | Home
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='dati', style='color: white') Mappa Dati
                    li.nav-item
                        a.nav-link(href='/powerbi', style='color: white') Power BI
                    li.nav-item
                        a.nav-link(href='/datistatistici', style='color: white') Dati Statistici
                    li.nav-item
                        a.nav-link(href='/logout', style='color: white') Logout
        .container
            .row.d-flex.justify-content-center(style='padding-bottom: 50px')
        .container
            .row.d-flex.justify-content-center(style='padding-bottom: 50px')
                .col-md-1
                .col-md-10.text-center
                    label.disabled( style='margin-top: 20px') Anno
                    select#anno.tipo.browser-default.custom-select(style='margin-buttom: 20px')
                            option(selected='' value='0') Seleziona anno
                    label.disabled( style='margin-top: 20px') Inquinante
                    select#inquinanti.tipo.browser-default.custom-select(style='margin-buttom: 20px')
                            option(selected='' value='0') Seleziona inquinante
                .col-md-1
        .container
            .row.justify-content-md-center
                .col-md-12.text-center(style='margin-bottom: 30px')
                    button#cerca.btn.btn-outline-primary.waves-effect.send-button(type='button' style='border-color: #213f55 !important; color: #213f55 !important;') Cerca
        .container
            .row.d-flex.justify-content-center
                .col-md-1
                .col-md-10.text-center
                    div#mapid
                .col-md-1
        .container
            .row.d-flex.justify-content-center(style='padding-top: 50px')
    // SCRIPTS
    // JQuery
    include footer
    script(type='text/javascript', src='/javascript/jquery-3.4.1.min.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='/javascript/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='/javascript/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='/javascript/mdb.min.js')
    script(src='https://unpkg.com/leaflet@1.5.1/dist/leaflet.js', integrity='sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==', crossorigin='')
    script(type='text/javascript', src='/javascript/mappa.js')

