// Footer
footer.page-footer.font-small.pt-4(style='background-color: #213f55')
    .container-fluid.text-center.text-md-left
        .row
            .col-md-12.mt-md-0.mt-3
                p.text-center
                    img(src='/images/logo.svg', height='200', width='200')
            hr.clearfix.w-100.d-md-none.pb-3
            .footer-copyright.text-center.py-3.col-md-12
                | © 2018 Copyright:
                a(href='https://mdbootstrap.com/education/bootstrap/')  MDBootstrap.com